<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/jax.jpg" alt="jax, lol champion">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Jax, Grandmaster at Arms</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input placeholder="username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input placeholder="password" type="password"></ion-input>
      </ion-item>
      <br>

      <ion-button (click)="logMeIn()">Login</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>